Files:
{{ range $index, $file := .Files }}
  - name: {{ $file.Path }}:
    contents:
    ```
{{ $file.Contents }}
    ```
{{ end }}

Modify the files above to accomplish the following task:
Subject: {{ .Subject }}
Body:
{{ .Body }}

Respond in the exact format:
Files:
{{ range $index, $file := .Files }}
ppname: {{ $file.Path }}
ppcontents:
[new {{ $file.Path }} contents]
{{ end }}

ppnotes:
[additional context about your changes]
